html, body {
    min-height: 100%;
}

body {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 70px;
  margin: 0 auto;
}
#home {
  border-radius: 5% ;
  margin-bottom: 0% ;
  margin-right: 0% ;
}

.wht {
  background-color: rgb(255, 255, 255);
}


 #welcome {
  color: White ;
 }

 #signedin {
  color: White;
 }

 .focus {
   width: 70% ;
   height: 70% ;
 }

 .navbar.navbar-inverse {
    background: rgba(6, 48, 56, 0.9);
    color: #fff;
}

 .itm {
  position: relative;
  left: 0px ;
  top: 10px ;
 }

.ctr {
   width: 100% ;
   height: 100% ;
 }

.txt {
  color: white ;
}

.xt {
  color: black ;
}

.bt{
  position: relative;
  top: -30px;
  left: -65px;
}
.pos {
  position: relative;
  top: -100px;
  left: 20px;
}
.xmov {
  position: relative;
  top: 0px;
  left: -150px;
}

#background{
  background: rgb(200, 54, 54); /* This is for ie8 and below */
  background: rgba(200,200, 200, 0.7);
  border-radius: 2% ;
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  background:url('#')

}

#itemsbackground{
  background: rgb(200, 54, 54); /* This is for ie8 and below */
  background: rgba(200,200, 200, 0.0);
  border-radius: 2% ;
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;


}

.rmov {
  left: 0px;
}

#itemsbackground2{
  background: rgb(200, 54, 54); /* This is for ie8 and below */
  background: rgba(200,200, 200, 0.0);
  border-radius: 2% ;
  width: 850px ;
  margin-left: auto ;
  margin-right: auto ;

}

.form-group {
    padding-bottom: 0px;
}

.msg{
  top: 20px ;
}

.top {
  margin-top: 10% ;
  position: relative;
  top: 30px;
  left: 0px;
}

.page{
  margin-left: 45% ;
  position: relative ;
  left: -30px;
  margin-bottom:100px;
}

.editable-div {
 margin-bottom:20px;
}
.disp {
  display: inline-block;
}

.paged{
  margin-left: 45% ;
  position: relative ;
  top: -10px;
  left: -30px;
}

#create-modal .modal-dialog  {width:40%;}

.cont {
        position: relative;
        width: 200px;
        clear: both;
        top: 0px;
        left: 400px;
  }
.edit-form {
  display: none;
}

h4{

  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:20px;
  padding-top: 0px;
}


p {

  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:20px;
  padding-top: 0px;
}

.andel {

  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:15px;
  padding-top: 0px;
}

.srch {

  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:20px;
  padding-top: 0px;
}
.edt {

  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:20px;
  padding-top: 0px;
}


h3 {

  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:20px;
  padding-top: 0px;
}

li {

  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:20px;
  padding-top: 0px;
}


.cdabtn {
  top: 10px ;
  left: 0px ;
}

a:link.tooltipbasic {
  position:relative;
}
a:hover.tooltipbasic {
  text-decoration:none; /* remove underline on tooltip */
}

a:hover.tooltipbasic:before {
  display:block;
  background:#eef;
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#ccf), to(#eef));
  background:-moz-linear-gradient(#ccf, #eef);
  background:-o-linear-gradient(#ccf, #eef);
  background:linear-gradient(#ccf, #eef);
  content:attr(data-tooltip);
  position:absolute;
  color:#000;
  margin:0em 0 1em;
  bottom:1.5em; /* ensure link is still visible under tooltip */
  right:0px;
  width:20em; /* a reasonable width to wrap the tooltip text */
  text-align:center;
  padding:4px;
  border:2px solid #999;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
      -ms-border-radius:6px;
       -o-border-radius:6px;
          border-radius:6px;
  -webkit-box-shadow: -2px 2px 2px rgba(20, 20, 20, 0.4);
     -moz-box-shadow: -2px 2px 2px rgba(20, 20, 20, 0.4);
      -ms-box-shadow: -2px 2px 2px rgba(20, 20, 20, 0.4);
       -o-box-shadow: -2px 2px 2px rgba(20, 20, 20, 0.4);
          box-shadow: -2px 2px 2px rgba(20, 20, 20, 0.4);
}

@media (max-width: 767px) {
  #itemsbackground{
    width:300px;
    }

    #itemsbackground2{
    width:300px;
    }

    #background {
      width: 300px;
    }
    .jumbotron {
      width: 650px;
    }
  }

/* flash ------------------------------------------------------ */

#flash {
  display: inline-block;
  text-shadow: #bbb 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(0,0,0,0.8) 0 30px 25px;
  transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
}

#list:hover #flash {
  text-shadow: #fff 0 0 4px, #fcffbb 0 0 20px;
  transform: rotateY(360deg);
  transition:         transform 0.3s cubic-bezier(0, 0.75, 0, 1), text-shadow 0.1s ease-out;
}

