html, body {
    min-height: 100%;
}

body {
    background-image: url(../img/cleanimg.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 70px; 
}

#home {
  border-radius: 5% ;
  margin-bottom: 0% ;
  margin-right: 0% ;
}

.jumbotron {
   background: rgb(200, 54, 54); /* This is for ie8 and below */
   background: rgba(0, 0, 0, 0.5); 
   width: 100% ;
   height: 100% ;
   background:url('../img/coola.jpeg') ;
}
 #welcome {
  color: White ;
 }

 #navcolor a {
  background-color: black;
  background-image: none;
  background-repeat: no-repeat;
 }

 #signedin {
  color: White;
 }

 .cntr {
   width: 50% ;
   height: 50% ;

 }

 .focus {
   width: 70% ;
   height: 70% ;
 }

.ctr {
   width: 100% ;
   height: 100% ;
 }
.iwell {
    background: rgb(200, 54, 54); /* This is for ie8 and below */
    background: rgba(200,200, 200, 0.7); 
    width: 70% ;
    height: 0% ;
    border-radius: 0% ;
    background:url('#') ;
    
}

.txt {
  color: white ;
}

.xt {
  color: black ;
}
.pos {
  position: relative;
  top: -130px;
  left: 20px;
}

#background{
  background: rgb(200, 54, 54); /* This is for ie8 and below */
  background: rgba(200,200, 200, 0.7);
  border-radius: 2% ;
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  background:url('#') 
  
}

#itemsbackground{
  background: rgb(200, 54, 54); /* This is for ie8 and below */
  background: rgba(200,200, 200, 0.7);
  border-radius: 2% ;
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  background:url('#')
  
}
.msg{
  top: 20px ;
}

.top {
  margin-top: 10% ;
  position: relative;
  top: -100px;
  left: 70px;
}

.page{
  margin-left: 45% ;
  position: relative ;
  top: -160px;
  left: -10px;
}

.paged{
  margin-left: 45% ;
  position: relative ;
  top: -10px;
  left: -10px;
}

#create-modal .modal-dialog  {width:40%;}

.cont {
        position: relative;
        width: 200px;
        clear: both;
        top: 0px;
        left: 460px;
  }






