html, body {
    min-height: 100%;
}

body {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 70px;
  margin: 0 auto;
}

.wht {
  background-color: rgb(255, 255, 255);
}

.border-bottom {
  background-color: rgba(6, 48, 56, 0.9) ! important;
}

.action-background {
  background-color: rgba(6, 48, 56, 0.9);
  padding-bottom: 15px;
  padding-top: 15px;
  min-height: 50px;
}

#logo {
  font-size: 60px;
  font-weight: 700;
}

 #signedin {
  color: white;
 }

.make-pagination {
  position: relative;
}

.navbar.navbar-inverse {
    background: rgba(6, 48, 56, 0.9);
    color: #fff;
    height: 60px;
}

.navbar-bck-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.nav-align {
  margin-left: 0;
}

.icon-right {
  padding-right: 0 ! important;
}

.fixture {
  padding-left: 0;
  padding-right: 0;
}

.ctr {
   width: 100% ;
   height: 100% ;
 }

.txt {
  color: white ;
}

.xt {
  color: black ;
}

.sz{
  font-size: 14px
}
.grn {
  background-color: rgba(6, 48, 56, 0.9) ! important;
}

.error-page {
  font-size: 200px;
}

.item-card {
  flex: 0 ; /* default 0 */
  width: 383px ;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
}

.item-card .card-text {
  position: relative;
  display: block;
  width: 100% ;
  height: 150px;
  text-decoration: none;
}

.item-card .card-text p {
  position: absolute;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-container {
  position: relative;
  display: block;
  width: 100% ;
  height: 100px;
}

.box-container p {
  position: absolute;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.container-card {
  flex-wrap: wrap ;
  display: flex ;
}

.form-group {
    padding-bottom: 0px;
}

.close-position {
  position: absolute;
  top: -140%;
  right: -3%;
  color: #000;
  cursor: pointer;
}

.align-form {
  position: relative;
  top: -16px;
  width: 100%;
}

.msg{
  top: 20px ;
}

.top {
  margin-top: 10% ;
  position: relative;
  top: 30px;
  left: 0px;
}

.page{
  margin-left: 45% ;
  position: relative ;
  left: -30px;
  margin-bottom:100px;
}

.s-form {
    margin-top: 0px ! important;
}

.disp {
  display: inline-block;
}

.paged{
  margin-left: 45% ;
  position: relative ;
  top: -10px;
  left: -30px;
}

#create-modal .modal-dialog  {width:40%;}

.cont {
        position: relative;
        width: 200px;
        clear: both;
        top: 0px;
        left: 400px;
  }

.edit-form {
  display: none;
}

h4{
  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:20px;
  padding-top: 0px;
}


p {
  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:16px;
  padding-top: 0px;
}

.andel {
  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:15px;
  padding-top: 0px;
}

.srch {
  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:20px;
  padding-top: 0px;
}

.edit-form {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 20px;

}

.edt {
  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:20px;
  padding-top: 0px;
}

.edit-submit {

  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 12px;
  padding-top: 2px;
  color: white ! important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-size {
  height: 50px ! important;
  margin: auto ! important;
  min-width: 50px ! important;
  width: 50px ! important;
}

#navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 6px;
  cursor: pointer;
}

#navlist {
  margin-bottom: 0px;
}

.row-fix {
  margin-right: -15px;
  margin-left: -11.5px;
}

h3 {

  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:20px;
  padding-top: 0px;
}

li {

  font-family: 'Lato', sans-serif;
  font-weight:normal;
  font-size:16px;
  padding-top: 0px;
}

#flash {
  display: inline-block;
}

