{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Moments - Bucketlist{% endblock %}</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/bootstrap-material-design.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/ripples.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/signup.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel='stylesheet' type="text/css">

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/modal.js" %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container fixture">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-text nav-align">
                    <!--<img src="{% static "img/logo.png"%}"/>-->
                    <span class="logo">Bucketlist</span>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href="/bucketlist/{{ request.user.username }}">My List</a></li>
                    <li><a href="{% url 'signout' %}">Sign Out</a></li>
                </ul>

                <form method="GET" action="/bucketlist/search/{{ request.user.id }}" class="navbar-form navbar-right s-form">
                    <div class="form-group">
                        <input type="text" name="q" class="form-control col-md-8" placeholder="Search">
                    </div>
                    <button class="btn btn-primary icon-right" type="submit"><i class="material-icons">search</i></button>
                </form>
            {% else%}

            {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </div>

        <br>
    <div class="container">
    {% block main %}



    {% endblock main%}
    </div>

    {% if request.user.is_authenticated %}
        <div class="col-lg-12">
          <footer class="footer">
            <div class="container">

              <div class="navbar navbar-default navbar-fixed-bottom border-bottom">
                <div class="container">
                  <p class="navbar-text pull-left">© {% now "Y" %} - Site Built by <a href="https://github.com/andela-sjames"> Samuel James</a> #TIA
                  </p>
                  <p class="navbar-text pull-right">
                    <a href="http://www.andela.com/" class="">ANDELA</a>
                  </p>
                </div>


              </div>
          </footer>
        </div>
    {% endif %}
    </div>


    <!-- jQuery -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/material.min.js" %}"></script>
    <script src="{% static "js/ripples.min.js" %}"></script>

</body>

</html>
