{% extends "base.html" %}
{% load static %}

{% block main %}

<div class="row clearfix row-fix">

    {% if search %}
    <div class="row container-card">
    {% for result in search %}
        <div class="animated fadeInRight">

            <div class="card card-block item-card">

              <a class="card-text" href="/bucketlist/view/{{ result.id }}/">
                <p>{{ result.name|title }}</p>
              </a>
            </div>

        </div>
    {% endfor %}
    </div>

    {% else %}


            <center class="xt"> No Bucketlist/Item Matching Query. </center>
            <p>Suggestions:</p>
            <ul>
                <li>Make sure that all words are spelled correctly.</li>
                <li>Try different keywords.</li>
                <li>Try more general keywords.</li>
                <li>Try fewer keywords.</li>
            </ul>

    {% endif %}

</div>

{% endblock main %}

{% block paginate %}
    {% include "bucketlist/search_pagination.html" %}
{% endblock paginate %}