{% extends "bucketlist/bucketlist_base.html" %}
{% load static%}

{% block sidebar_menu %}
  {% with active_tab='My List' %}
    {{ block.super }}
  {% endwith %}
{% endblock sidebar_menu %}

{% block subview %}
  <div class="row">
    <div class="col-sm-7">



    </div>
  </div>

{% endblock subview %}



<div class="action-button">
    <ul>
        <li class="#"><a href="#"><i class="material-icons">add</i></a></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Basic panel
  </div>
</div>
