{% extends "base.html" %}
{% load static %}

{% block main %}

{% if messages %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

<!-- <span class="glyphicon glyphicon-home" aria-hidden="true"></span></p> -->
<div class="container cntr">
    <div class="row">
        <div class="jumbotron ctr" id="home">
          <h3 id="welcome" class="text-center">Welcome, {{ request.user.username }}</h3>
          <p>...</p>
          <p><a class="btn btn-success btn-lg ctr" href="/bucketlist/action/{{ request.user.username }}/{{ request.user.id }}" role="button">Create</a><

          <p><a class="btn btn-success btn-lg ctr" href="/bucketlist/{{ request.user.username }}/{{ request.user.id }}" role="button">View</a></p>
        </div>
    </div>
</div>


{% endblock main %}