
{% extends "base.html" %}
{% load static %}

{% block main %}

<div id="#">
{% if messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

<div class="row clearfix">

{% if bucketlists %}
    <div id="list">
        <h4 id="flash">My Moments Bucketlist</h4>

        <a data-toggle="modal" data-target="#create-modal" class="btn btn-default btn-fab btn-size btn-primary" id="go-right"><i class="material-icons">add</i></a>
    </div><br>

<div>
    <div class="row container-card">
    {% for bucketlist in bucketlists %}
        <div class="#">
            <div class="card card-block item-card">

              <a class="card-text" href="/bucketlist/view/{{ bucketlist.id }}/">
                <p>{{ bucketlist.name|title }}</p>
              </a>

                <div class="action-background">
                  <ul id="navlist" class="#">

                    <li class="txt sz pull-left">Modified: {{ bucketlist.date_modified|timesince }} ago</li>

                    <li class="pull-right"><a class="modal-toggle txt" data-toggle="modal" data-target="#additemmodal" data-bucketlist-id="{{ bucketlist.id }}" data-toggle="tooltip" data-placement="top" title="Click to Add an Item to this bucketlist"><i class="material-icons">add_circle_outline</i></a></li>

                    <li class="pull-right"><a class="modal-toggle txt tooltipbasic" data-toggle="modal" data-target="#editmodal" data-bucketlist-id="{{ bucketlist.id }}" data-toggle="tooltip" data-placement="top" title="Click to Edit this bucketlist name"><i class="material-icons">edit</i></a></li>

                    <li class="pull-right"><a href="/bucketlist/{{ bucketlist.id}}" title="Click to Delete this bucketlist" data-toggle="#" data-toggle="#" data-placement="top"><i class="material-icons remove txt">delete</i></a></li>

                    </ul>
                </div>

            </div>
        </div>
    {% endfor %}
    </div>

    <div>
        {% include "bucketlist/additem_modal.html" %}
        {% include "bucketlist/editbucketlist_modal.html" %}
        {% include "bucketlist/create_modal.html" %}
    </div>

    <nav class="page xt andel">
      <div class="pagination">
        <span class="step-links">
            {% if bucketlists.has_previous %}
                <a href="?page={{ bucketlists.previous_page_number }}"><span aria-hidden="true" class="glyphicon glyphicon-backward"></span></a>
            {% endif %}

            <span class="current">
                Page {{ bucketlists.number }} of {{ bucketlists.paginator.num_pages }}.
            </span>

            {% if bucketlists.has_next %}
                <a href="?page={{ bucketlists.next_page_number }}"><span aria-hidden="true" class="glyphicon glyphicon-forward" ></span></a>

            {% endif %}
        </span>
       </div>
    </nav>

{% else %}
    <div class="container" style="width:700px">
        <div class="jumbotron">
            <center><h1><span id="#">My Moments Bucketlist</span></h1></center>
               <br><br>
               <center><p class="xt">Welcome {{ request.user.username }}! </p>
            <p class="lead">you currently have no bucketlist. Please click the button to start your moments.</p>

            <a data-toggle="modal"   data-target="#create-modal" class="btn btn-default btn-fab"><i class="material-icons">add</i></a>
        </div>
    </div>


    {% include "bucketlist/create_modal.html" %}

{% endif %}
</div>
</div>



{% endblock main %}
