
{% extends "base.html" %}
{% load static %}

{% block main %}
<div id="itemsbackground">
{% if messages %}
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
</div>
<center> 
<div class="row clearfix">

{% if bucketlists %}

<div class="col-sm-1">
    <button type="button" class="btn btn-success srch" data-toggle="modal" data-target="#create-modal" href="#create-modal">
      create
    </button>
</div>

<div class="col-md-10">
{% for bucketlist in bucketlists %}
   
        <div class="card animated fadeInRight" >
        <center>
        <h4>{{ bucketlist.name }}</h4>
        <section class="card-inner">
            <div class="action-buttons">
                <br>
                <a href="#additemmodal" class="modal-toggle txt tooltipbasic" data-toggle="modal" data-target="#additemmodal" data-bucketlist-id="{{ bucketlist.id }}" data-tooltip="Click to Add an Item to this bucketlist"><span class="glyphicon glyphicon-plus xt" aria-hidden="true"></span></a>

                <a href="#edit-modal" class="modal-toggle txt tooltipbasic" data-toggle="modal" data-target="#editmodal" data-bucketlist-id="{{ bucketlist.id }}" data-tooltip="Click to Edit this bucketlist name"><span class="glyphicon glyphicon-edit xt" aria-hidden="true"></span></a>

                <a href="/bucketlist/{{ bucketlist.id}}" data-tooltip="Click to Delete this bucketlist" class="tooltipbasic"><span class="glyphicon glyphicon-trash xt" aria-hidden="true"></span></a>

                <a href="/bucketlist/view/{{ bucketlist.id }}/items" data-tooltip="Click to view bucketlist detail" class="tooltipbasic"><span class="glyphicon glyphicon-eye-open xt" aria-hidden="true"></span></a>

            </div>
        </section>
        </center>
        </div>

{% endfor %}
    <div>
        {% include "bucketlist/additem_modal.html" %}
        {% include "bucketlist/editbucketlist_modal.html" %}
        {% include "bucketlist/create_modal.html" %} 
    </div>
{% else %}
    <div class="row">
        <div class="xmov">
            <button type="button" class="btn srch btn-success top" data-toggle="modal"   data-target="#create-modal" href="#create-modal">
                create
            </button>
        </div>
        <p class="col-md-4">None to show!</p>

    </div>

    {% include "bucketlist/create_modal.html" %}

{% endif %}
</div>
</div>
</center>

<nav class="page xt andel">
  <div class="pagination">
    <span class="step-links">
        {% if bucketlists.has_previous %}
            <a href="?page={{ bucketlists.previous_page_number }}"><span aria-hidden="true" class="glyphicon glyphicon-backward"></span></a>
        {% endif %}

        <span class="current">
            Page {{ bucketlists.number }} of {{ bucketlists.paginator.num_pages }}.
        </span>

        {% if bucketlists.has_next %}
            <a href="?page={{ bucketlists.next_page_number }}"><span aria-hidden="true" class="glyphicon glyphicon-forward" ></span></a>
        
        {% endif %}
    </span>
   </div>
</nav>

{% endblock main %}



