
{% extends "base.html" %}
{% load static %}

{% block main %}


<div class="#" id="background">

{% if messages %}
    <div class="alert alert-success alert-dismissible fade in msg">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

<button type="button" class="btn btn-success top " data-toggle="modal" data-target="#create-modal" href="#create-modal">
  create
</button>
    
{% include "bucketlist/create_modal.html" %}


{% if bucketlists %}
{% for bucketlist in bucketlists %}


<div class="container cntr pos">
  <div class="row">

    <ul class="list-group animated fadeInRight">
      <li class="list-group-item">{{ bucketlist.name }}
        <div class="pull-right action-buttons">
            <a href="#additemmodal" class="modal-toggle txt" data-toggle="modal" data-target="#additemmodal"><span class="glyphicon glyphicon-plus xt" aria-hidden="true"></span></a>
            <a href="#edit-modal" class="modal-toggle txt" data-toggle="modal" data-target="#edit-modal"><span class="glyphicon glyphicon-edit xt" aria-hidden="true"></span></a>
            <a href="/bucketlist/{{ bucketlist.id}}"><span class="glyphicon glyphicon-trash xt" aria-hidden="true"></span></a>
            <a href="/bucketlist/view/{{ bucketlist.id }}/items"><span class="glyphicon glyphicon-eye-open xt" aria-hidden="true"></span></a>
        </div>
      </li>
    </ul>

        <div>
            {% include "bucketlist/additem_modal.html" %}
            {% include "bucketlist/editbucketlist_modal.html" %}
            {% include "bucketlist/create_modal.html" %}  
        </div>
     </div>
</div>

{% endfor %}
{% else %}

<p>None to show!</p>

{% endif %}

<nav class="page txt">
  <div class="pagination">
    <span class="step-links">
        {% if bucketlists.has_previous %}
            <a href="?page={{ bucketlists.previous_page_number }}"><span aria-hidden="true" class="glyphicon glyphicon-backward"></span></a>
        {% endif %}

        <span class="current">
            Page {{ bucketlists.number }} of {{ bucketlists.paginator.num_pages }}.
        </span>

        {% if bucketlists.has_next %}
            <a href="?page={{ bucketlists.next_page_number }}"><span aria-hidden="true" class="glyphicon glyphicon-forward" ></span></a>
        
        {% endif %}
    </span>
   </div>
</nav>
</div>
{% endblock main %}



