<nav class="page xt andel">
  <div class="pagination">
    <span class="step-links">
        {% if bucketlists.has_previous %}
            <a href="?page={{ bucketlists.previous_page_number }}"><span aria-hidden="true" class="glyphicon glyphicon-backward"></span></a>
        {% endif %}

        <span class="current">
            Page {{ bucketlists.number }} of {{ bucketlists.paginator.num_pages }}.
        </span>

        {% if bucketlists.has_next %}
            <a href="?page={{ bucketlists.next_page_number }}"><span aria-hidden="true" class="glyphicon glyphicon-forward" ></span></a>

        {% endif %}
    </span>
   </div>
</nav>