
{% extends "base.html" %}
{% load static %}

{% block main %}

<div id="itemsbackground">
{% if messages %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
</div>

<div class="login-wrap andel txt">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab txt">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab txt">Sign Up</label>

    <!--LOGIN FORM HERE-->
        <div class="login-form">
            <div class="sign-in-htm">

        <form class="form-signin" action="{% url 'signin' %}" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                <div class="form-group">
                    <label for="email" class="control-label" placeholder="Email">Email address</label>
                    <input id="user" type="email" name="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input id="pass" type="password" name="password" class="form-control" data-type="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary wht">Submit</button>
                </div>
                <div class="hr"></div>
        </form>

            </div
    <!--END LOGIN FORM-->

    <!--SIGNUP FORM HERE-->
            <div class="sign-up-htm">

            <form class="form-signin" action="{% url 'signup' %}" method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="form-group">
                    <label for="username" class="control-label">Username</label>
                    <input id="user" name="username" type="text" class="form-control" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="password1" class="control-label">Password</label>
                    <input id="pass" type="password" name="password1" class="form-control" data-type="password" placeholder="password">
                </div>
                <div class="form-group">
                    <label for="password2" class="control-label">Repeat Password</label>
                    <input id="pass" type="password" name="password2" class="form-control" data-type="password" placeholder="confirm password">
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email Address</label>
                    <input id="pass" type="email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary wht">Sign Up</button>
                </div>
                <div class="foot-lnk">
                    <label for="tab-1" class="control-label">Already Member?</label>
                </div>
            </form>

            </div>
            <!-- END SIGNUP FORM HERE-->
        </div>
    </div>
</div>
{% endblock main %}

