{% extends "base.html" %}
{% load static %}

{% block main %}

    {% include "bucketlist/message.html" %}


<div class="row clearfix row-fix">
    {% if bucketlists %}
        <div id="list">
            {% for bucketlist in bucketlists %}
            <h4 id="flash"><a class="unique" href="/bucketlist/{{ request.user.username }}">{{ bucketlist.name|title}}</a></h4>

            <a data-toggle="modal" data-target="#additemmodal" class="btn btn-default btn-fab btn-size btn-primary pull-right modal-toggle" data-bucketlist-id="{{ bucketlist.id }}"><i class="material-icons">add</i></a>

            {% endfor %}

        </div><br>

    {% include "bucketlist/additem_modal.html" %}
    {% else %}
        <p class="txt">No BucketList to show.</p>
    {% endif %}


    {% if items %}
        {% for item in items %}
        <div class="bucket-item row">
            <div class="panel-body col-sm-10 panel-div boxitem-container">
                <p class="#">{{ item.name|title }}</p>

                <div class="edit-form">
                        <!--<i class="material-icons">close</i>-->
                        <form method="POST" class="form-group align-form" action="/bucketlist/{% if bucketlists %}{% for bucketlist in bucketlists %}{{ bucketlist.id}}{% endfor %}{% endif %}/items/{{item.id}}">
                            <input type="hidden" maxlength="100" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <div class="row">
                                    <h3 class="close-position">&times;</h3>
                                    <div class="col-md-9">
                                        <input id="itmname" name="itemname"  class="form-control" type="text" class="form-control input-md"
                                         value="{{ item.name }}">
                                    </div>
                                    <div class="col-md-2">
                                         <input id="button" name="button" class="btn btn-success edit-submit grn txt" type="submit" value="Edit"/>
                                    </div>
                                </div>
                        </form>
                    </div>

            </div>
            <div class="col-sm-2 action-div">
                <ul id="navlist-item" class="">

                    <li class="txt pull-right">
                        <a href="#" class="edit" title="Click to Edit this item">
                            <i class="material-icons">edit</i>
                        </a>
                    </li>

                    <li class=" txt pull-right center-action">
                        <a href="/bucketlist/{% if bucketlists %}{% for bucketlist in bucketlists %}{{ bucketlist.id}}{% endfor %}{% endif %}/items/{{item.id}}" title="Click to Delete item">
                            <i class="material-icons remove">delete</i>
                        </a>
                    </li>

                    <li class="txt pull-right align-done">
                        <a href="/bucketlist/itemdone/{% if bucketlists %}{% for bucketlist in bucketlists %}{{ bucketlist.id}}{% endfor %}{% endif %}/items/{{item.id}}">
                        {% if item.done %}
                            <span class="glyphicon glyphicon-check txt"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-unchecked txt"></span>
                        {% endif %}
                        </a> Done
                    </li>

                </ul>
            </div>

        </div>
        {% endfor %}

    {% else %}
        <center>
            <center class="xt"> No Bucketlist Item to show. </center>
            <center> Want to add an Item ? Use the plus '+' button above! </center>
        </center>

    {% endif %}

</div>


{% endblock%}

{% block paginate %}
        {% include "bucketlist/item_pagination.html" %}
{% endblock paginate %}